
<main style="background: url('../../assets/img/pattern_2.svg') repeat;" >

  <div [style.background]="'url(https://res.cloudinary.com/fadarklight/v1/' + brandlist.brand.image+ ')'" class="hero_in detail_page" style="border-color:rgba(0, 0, 0, 0.5);"  >
    <div class="wrapper opacity-mask" style="background-color: rgba(0, 0, 0, 0.5);">

      <div class="container">
        <div class="main_info">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6">
              <div class="head"><div class="score"></div></div>
              <h1 > {{brandlist.brand.name}} </h1>
             <a href="{{brandlist.brand.address}}" target="blank">Get directions</a>
            </div>

          </div>
          <!-- /row -->
        </div>
        <!-- /main_info -->
      </div>
    </div>
  </div>
  <!--/hero_in-->
  <div style="margin: 30px;" >
    <h2>

    </h2>
  </div>




<div class="container" style="margin-top: 30px;">
  <owl-carousel-o [options]="customOptions" >
    <ng-container *ngFor="let type of types">
    <ng-template [id]="type.id"  carouselSlide>


              <li style="cursor: pointer;" class="list-group-item" [class.active]="type.id === this.shopParams.typeId"
                  [value]="type.id" (click)="onTypeSelected(type.id)">
                  {{type.name}}
              </li>


    </ng-template>
  </ng-container>
  </owl-carousel-o>

  <div class="row">

    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 mb-4" *ngFor="let item of brandlist.products">
        <app-product-item [product]="item"></app-product-item>
    </div>
  </div>
</div>


  <!-- /container -->

</main>
<!-- /main -->

<!-- <div class="row">
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 ">

      <div class="card h-100 shadow-sm" *ngFor="let product of brand.products">
        <div class="image position-relative" style="cursor: pointer;">
            <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid bg-info">
            <div class="d-flex align-items-center justify-content-center hover-overlay">
              <button (click)="addItemToBasket()" type="button" class="btn btn-primary fa fa-shopping-cart mr-2"></button>
                <button routerLink="/shop/{{product.id}}" type="button" class="btn btn-primary">View</button>
            </div>
        </div>

        <div class="card-body d-flex flex-column">
            <a routerLink="/shop/{{product.id}}">
                <h6 class="text-uppercase">{{product.name}}</h6>
            </a>
            <span class="mb-2">{{product.price | currency}}</span>
        </div>
      </div>
    </div>
    </div> -->
