
                    <tr>
                      <td class="d-md-flex align-items-center">
                                    <figure><img src="{{product.pictureUrl}}"  alt="thumb" class="lazy"></figure>
                                    <div class="flex-md-column">
                          <h4>{{product.name}}</h4>
                          <p>
                            {{product.description}}
                          </p>
                        </div>
                      </td>
                      <td>
                        <strong> {{product.price}}</strong>
                      </td>
                      <td class="options">
                          <div class="dropdown dropdown-options">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="icon_plus_alt2"></i></a>
                              <div class="dropdown-menu">

                                  <a href="#0" class="btn_1 small">Add to cart</a>
                              </div>
                          </div>
                      </td>
                    </tr>

