<main >

<div class="container mt-5">
  <div class="row">
      <div class=" col-lg-8 col-md-6 .col-sm-6">
          <app-stepper [linearModeSelected]="true" #appStepper>
              <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm')).valid">
                  <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
              </cdk-step>
              <cdk-step [label]="'Delivery'"
                  [completed]="(checkoutForm.get('deliveryForm')).valid">
              <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
              </cdk-step>
              <cdk-step [label]="'Review'">
                  <app-checkout-review></app-checkout-review>
              </cdk-step>
              <cdk-step [label]="'Payment'">
                  <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
              </cdk-step>
          </app-stepper>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-3 responsive-order">
          <app-order-totals
              *ngIf="(basketTotals$ | async)"
              [shippingPrice]="(basketTotals$ | async).shipping"
              [subtotal]="(basketTotals$ | async).subtotal"
              [total]="(basketTotals$ | async).total"
          ></app-order-totals
              >
      </div>
  </div>
</div>
<div style="padding: 50px;" ></div>
</main>
