
  <section  >
    <carousel  >
      <slide  *ngFor="let slide of sliders" >
          <img style="opacity: 0.8;" class="img-fluid d-block w-100 responive_slide"  src="https://res.cloudinary.com/fadarklight/v1/{{slide.image}}" alt="McDOnald's" >
          <div class="carousel-caption  d-md-block">
            <h2 style="color: black;">{{slide.title}}</h2>
            <p style="color: black; ">{{slide.slogan}}</p>
            <a href="{{slide.EndPoint}}" class="btn btn-lg btn-primary">More</a>
          </div>
      </slide>

  </carousel>
  </section>
<main  >
  <!-- /hero_single -->


<div class="container" >




  <div style="margin: 30px;" >
    <h2>
     The Most Famous Restaurants
    </h2>
  </div>
  <owl-carousel-o [options]="customOptions" >
    <ng-container *ngFor="let brand of brands">
    <ng-template [id]="brand.id"  carouselSlide>

        <div class="card" >
          <img  style="height: 150px;" class="card-img-top" src="https://res.cloudinary.com/fadarklight/v1/{{brand.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{brand.name}}</h5>
            <p class="card-text">{{brand.address}}</p>
            <a routerLink="/{{brand.id}}" class="btn btn-primary">Go Restaurant</a>
          </div>
        </div>

    </ng-template>
  </ng-container>
  </owl-carousel-o>

  <div style="margin: 30px;" >
    <h2>
     Categories
    </h2>
  </div>
  <owl-carousel-o [options]="departmentOptions" >

    <ng-container *ngFor="let type of types">
      <ng-template [id]="type.id"  carouselSlide>
        <div class="card" >

            <img style="height: 140px;" class="card-img-top" src="https://res.cloudinary.com/fadarklight/v1/{{type.image}}" alt="Card image cap">


          <div class="card-body">
            <a style="cursor: pointer;" [owlRouterLink]="[type.id]" >
            <p class="card-text">{{type.name}}</p>
          </a>
          </div>
        </div>
      </ng-template>
      </ng-container>

  </owl-carousel-o>
  <!-- /bg_gray -->

</div>



</main>
