<main >
  <!-- /hero_single -->

    <carousel >
      <slide>
          <img src="assets/images/mc.png" alt="McDOnald's" style="display: block; width: 100%;">
      </slide>
      <slide>
          <img src="assets/images/burger.jpg" alt="Burger King" style="display: block; width: 100%;">
      </slide>
      <slide>
          <img src="assets/images/dominos.jpg" alt="Dominos Pizza" style="display: block; width: 100%;">
      </slide>
  </carousel>



  <div style="margin: 30px;" >
    <h2>
      Ən Məşhur Restoranlar
    </h2>
  </div>
  <owl-carousel-o [options]="customOptions" >
    <ng-container *ngFor="let brand of brands">
    <ng-template [id]="brand.id"  carouselSlide>

        <div class="card" >
          <img  style="height: 160px;" class="card-img-top" src="{{brand.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{brand.name}}</h5>
            <p class="card-text">{{brand.address}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

    </ng-template>
  </ng-container>
  </owl-carousel-o>

  <div style="margin: 30px;" >
    <h2>
      Kateqoriyalar
    </h2>
  </div>
  <owl-carousel-o [options]="customOptions" >

    <ng-container *ngFor="let type of types">
      <ng-template [id]="type.id"  carouselSlide>
        <div class="card" >
          <a [owlRouterLink]="[type.id]" >
            <img style="height: 160px;" class="card-img-top" src="{{type.image}}" alt="Card image cap">
          </a>

          <div class="card-body">

            <p class="card-text">{{type.name}}</p>
          </div>
        </div>
      </ng-template>
      </ng-container>

  </owl-carousel-o>
  <!-- /bg_gray -->



</main>
