<main  >
  <!-- /hero_single -->
<div class="container" >
  <section class="carousel_desing">
    <carousel >
      <slide  >
          <img class="d-block w-100 responive_slide"  src="assets/images/mg.jpg" alt="McDOnald's" >
      </slide>
      <slide>
          <img class="d-block w-100 responive_slide" src="assets/images/burger.jpg" alt="Burger King" >
      </slide>
      <slide>
          <img class="d-block w-100 responive_slide"  src="assets/images/pizza.jpg" alt="Dominos Pizza" >
      </slide>
  </carousel>
  </section>




  <div style="margin: 30px;" >
    <h2>
     The Most Famous Restaurants
    </h2>
  </div>
  <owl-carousel-o [options]="customOptions" >
    <ng-container *ngFor="let brand of brands">
    <ng-template [id]="brand.id"  carouselSlide>

        <div class="card" >
          <img  style="height: 160px;" class="card-img-top" src="{{brand.image}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{brand.name}}</h5>
            <p class="card-text">{{brand.address}}</p>
            <a routerLink="/{{brand.id}}" class="btn btn-primary">Go Restaurant</a>
          </div>
        </div>

    </ng-template>
  </ng-container>
  </owl-carousel-o>

  <div style="margin: 30px;" >
    <h2>
     Categories
    </h2>
  </div>
  <owl-carousel-o [options]="customOptions" >

    <ng-container *ngFor="let type of types">
      <ng-template [id]="type.id"  carouselSlide>
        <div class="card" >

            <img style="height: 160px;" class="card-img-top" src="{{type.image}}" alt="Card image cap">


          <div class="card-body">
            <a style="cursor: pointer;" [owlRouterLink]="[type.id]" >
            <p class="card-text">{{type.name}}</p>
          </a>
          </div>
        </div>
      </ng-template>
      </ng-container>

  </owl-carousel-o>
  <!-- /bg_gray -->

</div>



</main>
