<main class="bg_gray pattern">

  <div class="container margin_60_40">
      <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="sign_up">
                  <div class="head">
                      <div class="title">
                      <h3>Daxil ol</h3>
                  </div>
                  </div>
                  <!-- /head -->
                  <div class="main">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                      <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
                      <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

                      <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </form>
                  </div>
                  <div style="margin: 50px;" ></div>

              </div>
              <!-- /box_booking -->
          </div>
          <!-- /col -->

      </div>
      <!-- /row -->
  </div>
  <!-- /container -->

</main>
