

<main style="
background: url('../../assets/img/pattern_2.svg') repeat;" >
<div   >
  <div  style="padding: 40px; background-color: rgb(253, 252, 252);" *ngIf="(basket$ | async) === null">
    <div style="padding: 100px;"></div>
   <video autoplay width="100px" height="520px" src="../../assets/video/ufo.mp4"></video>
     <div style="padding: 120px;"></div>


  </div>

  <div *ngIf="basket$ | async">
      <div class="pb-5">
          <div class="container">
              <div class="row">
                  <div class="col-12 py-5 mb-1">
                      <app-basket-summary
                          (decrement)="decrementItemQuantity($event)"
                          (increment)="incrementItemQuantity($event)"
                          (remove)="removeBasketItem($event)"
                          [items]="(basket$ | async).items"></app-basket-summary>
                  </div>
              </div>

              <div class="row">
                  <div class="col-6 offset-6">
                      <app-order-totals
                          *ngIf="(basketTotals$ | async)"
                          [shippingPrice]="(basketTotals$ | async).shipping"
                          [subtotal]="(basketTotals$ | async).subtotal"
                          [total]="(basketTotals$ | async).total">
                      </app-order-totals>
                      <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
                          Proceed to checkout
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</main>
