<main style="
background: url('../../assets/img/pattern_2.svg') repeat;">
  <div class="card" *ngIf="product" style="width: 20rem; display: inline-flex;margin: 30px; padding: 30px;">
    <img class="card-img-top" src="https://res.cloudinary.com/fadarklight/v1/{{product.image}}" alt="{{product.name}}">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text"> <h4>Description</h4>
        <p>{{product.description}}</p>
        <p>
        {{product.price | currency}}</p>
      <div class="d-flex justify-content-start align-items-center">
        <i (click)="decrementQuantity()" class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em;"></i>
    <span class="font-weight-bold" style="font-size: 1.5em;">{{quantity}}</span>
        <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>
        <button (click)="addItemToBasket()" class="btn btn-outline-primary btn-lg ml-4">Add to Cart</button>
    </div>
    </div>
  </div>

</main>

