<main>
  <div class="hero_single inner_pages background-image" data-background="url(img/hero_general.jpg)">
    <div class="opacity-mask" style="background-color: rgba(0, 0, 0, 0.4);" data-opacity-mask="rgba(0, 0, 0, 0.4)">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10 col-md-8">
            <h1>Your Wishlist</h1>
            <p>Foogra a successful restaurant experience</p>
          </div>
        </div>
        <!-- /row -->
      </div>
    </div>
  </div>
  <!-- /hero_single -->

  <div class="container margin_60_30">
    <div class="main_title center">
        <span><em></em></span>
        <h2>Ən Məşhur Restoranlar</h2>

    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let item of brands">
         <div class="strip">

                <app-product-brand [brand]="item" ></app-product-brand>

            </div>
      </div>
      <!-- /box_grid -->

    </div>

  </div>
  <!-- /container -->

</main>
