
<main style="
background: url('../../assets/img/pattern_2.svg') repeat;">
  <div class="hero_single inner_pages background-image" style="background-image: url('../../assets/images/2.svg');">
    <div class="opacity-mask" style="background-color: rgba(0, 0, 0, 0.4);" data-opacity-mask="rgba(0, 0, 0, 0.4)">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10 col-md-8">
            <h1>Fast Delivery</h1>
            <p>Eatus a successful restaurant experience</p>
          </div>
        </div>
        <!-- /row -->
      </div>
    </div>
  </div>

<div class="container">

  <div class="row">

      <section class=" col-lg-3 col-md-3 col-sm-2">
        <ng-container *ngIf="types && brands">
          <h5 class="text-warning ml-3">Sort</h5>
          <select class="custom-select mb-3" (change)="onSortSelected($event.target.value)">
              <option *ngFor="let sort of sortOptions" [value]="sort.value">
                  {{sort.name}}
              </option>
          </select>

          <h5 class="text-warning ml-3">Brands</h5>
          <ul class="list-group my-3">
              <li style="cursor: pointer;" class="list-group-item " *ngFor="let brand of brands"
                  [class.active]="brand.id === this.shopParams.brandId" [value]="brand.id"
                  (click)="onBrandSelected(brand.id)">
                  {{brand.name}}
              </li>
          </ul>
          <h5 class="text-warning ml-3">Types</h5>
          <ul class="list-group my-3">
              <li style="cursor: pointer;" class="list-group-item" *ngFor="let type of types" [class.active]="type.id === this.shopParams.typeId"
                  [value]="type.id" (click)="onTypeSelected(type.id)">
                  {{type.name}}
              </li>
          </ul>
        </ng-container>
      </section>

      <section class="col-lg-9 col-md-8 col-sm-8">
        <div class="d-flex justify-content-between align-items-center pb-2" >


         <app-paging-header
          [totalCount]="totalCount"
          [pageSize]="this.shopParams.pageSize"
          [pageNumber]="this.shopParams.pageNumber"
      ></app-paging-header>

            <div class="col-lg-4 col-md-6 col-sm-6 form-inline" *ngIf="products">
                <input (keyup.enter)="onSearch()" class="responsive-input form-control mr-2" #search style="width: 300px" placeholder="Search" type="text">
                <button (click)="onSearch()" class="btn btn-outline-primary my-2">Search</button>
                <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">Reset</button>
            </div>
        </div>


          <div class="row">
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-4" *ngFor="let item of products">
                  <app-product-item [product]="item"></app-product-item>
              </div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
              <app-pager
                  [pageSize]="shopParams.pageSize"
                  [totalCount]="totalCount"
                  (pageChanged)="onPageChanged($event)"
              ></app-pager
                  >
          </div>

      </section>
      <div style="margin: 50px;"  ></div>
  </div>
</div>
</main>
