main{

  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 30px 0;
  min-height: calc(100vh - 260px);
}
.category_design{
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  padding-bottom: 20px;
  padding: 20px;

}
.card{
  width: calc((99.99% - 60px) / 3);
    margin: 10px;
}
.title_category{
  font-weight: 400;
  bottom: 16px;
  left: 0;
  right: 46px;
  font-size: 1.75rem;
  line-height: 100%;
  color: #202125;
  margin: 0;
  height: 60px;
  width: 100%;
  padding: 0 30px;
  border-bottom: 1px solid rgba(32,33,37,0.12);
  text-align: center;
}

