.cart-no{
  position: absolute;
  min-height: 17px;
  min-width: 17px;
  border-radius: 50%;
  font-size: 10px;
  background: rgb(240, 127, 86);
  color: white;
  text-align: center;
  top: 3px;
  right: 18px;
}
a {
  text-decoration: none;
  color: #343a40;

  &.active {
      color: orange;
  }
}

.logo {
  cursor: pointer;

  &:focus {
      outline: none;
  }
}
.dropdown a:after{
  color: white;
  display: none;
}
