.ads {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ads .addressBlock {
  background-color: #ffffff;
  padding: 20px;
}
.ads .addressBlock p {
  font-size: 18px;
  font-weight: 600;
  border:2px solid orange;
  padding: 15px;
}
